:root {
    --background-principal: #252323;
    --font-menu-nav: "Montserrat", sans-serif;
    --font-titulo-descricao: "Cardo", serif;

    --tom-escuro: #212529;
    --tom-claro: #f8f9fa;
}

.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}